
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
}

/**
 * Layout
 **/
#wrapper {
  min-height: calc( 100% - 100px);
  background: grey;
  overflow: hidden;
}

/** Reprise : Start **/
#page-header {
  margin-bottom: 50px;
}

#page-header .header-background {
  position: relative;
  display: table;
  padding: 1px;
  height: 45vw;
  max-height: 48vh;
  min-height: 190px;
  width: 100%;
  background: blue url(/images/header-picture.png) center center / cover;
  text-align: center;
  /* http://stoicstudio.com/gallery/ */
}

#page-header .headline {
  display: table-cell;
  padding: 10px 0 40px;
  height: 100%;
  vertical-align: middle;
  color: white;
  font-size: 28px;
  text-shadow:  -1px -1px 2px rgba(0, 0, 0, 0.7),
                1px -1px 2px rgba(0, 0, 0, 0.7),
                -1px 1px 2px rgba(0, 0, 0, 0.7),
                1px 1px 2px rgba(0, 0, 0, 0.7);
}

#page-header .category {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  text-align: center;
}

#page-header .category span,
#page-header .list-link {
  display: inline-block;
  margin: 0 10px 10px;
  padding: 8px 15px;
  border: solid 1px white;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 18px;
  text-shadow: 1px 1px 5px black;
  box-shadow: 2px 2px 10px black;
  border-radius: 4px;
}

#page-header .about {
  position: absolute;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  color: #c5c5c5;
  font-size: 14px;
}

#page-header .about-link:link,
#page-header .about-link:visited {
  color: #c5c5c5;
}
#page-header a:link,
#page-header a:visited {
  text-decoration: none;
}

#page-header .about-link:hover,
#page-header .about-link:active {
  text-decoration: underline;
}

#page-header .list-category {
  display: block;
  width: 100%;
  max-width: 880px;
  margin: 70px auto 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#page-header .list-category li {
  display: inline-block;
}

#page-header .list-link {
  font-size: 90%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-shadow:  -1px -1px 2px rgba(0, 0, 0, 0.6),
                1px -1px 2px rgba(0, 0, 0, 0.6),
                -1px 1px 2px rgba(0, 0, 0, 0.6),
                1px 1px 2px rgba(0, 0, 0, 0.6);
}

#page-header .cat-code {
  background-color: #BD0808;
}

#page-header .cat-tools {
  background-color: #BDBA22;
}

#page-header .cat-mongo {
  background-color: #339C10;
}

#page-header .cat-os {
  background-color: #2436BF;
}

#page-header .cat-human {
  background-color: #9C6024;
}



/** Reprise : End **/

/**
#page-header {
  height: 40vw;
  max-height: 45vh;
  min-height: 190px;
  background: blue;
  background: blue url(/images/header-picture.jpg) center center / cover;
  margin-bottom: 80px;
}

#page-header .headline {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}

#page-header .headline-content {
  display: table-cell;
  vertical-align: middle;
}

#page-header .headline-metas {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  position: relative;
}

#page-header .meta-photo {
  position: absolute;
  margin: 0;
  right: 0;
  background-color: white;
  max-width: 33%;
  z-index: 11;
}

#page-header .meta-photo-links:link,
#page-header .meta-photo-links:visited,
#page-header .meta-photo-links:hover,
#page-header .meta-photo-links:active {
  color: red;
}

#page-header .header-title {
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: calc( ((30px * 2) + 40px)/2 * -1 );
  z-index: 10;
}

#page-header .article-category {
  display: inline-block;
  padding: 30px 20px;
  background-color: red;
  line-height: 40px;
}

**/

#page-content {
  padding: 0 0 0 20px;
}

#page-content {
  overflow: hidden;
  position: relative;
}

#page-content-articles {
  float: left;
  width: calc(100% - 200px);
}

#page-content-nav {
  overflow: hidden;
  padding-left: 20px;
}

#page-content .nav-pagination {
  text-align: center;
}

footer .article-about {
  clear: both;
}

.paged {
  margin: 0 auto;
  width: 100%;
  max-width: 880px;
}

.nav-flow-stick {
  float:left;
}

.nav-main {
  position: relative;
  overflow: hidden;
  width: 200px;
}

.nav-main-fixed-top {
  position: fixed;
  top: 0;
}

.nav-main-fixed-bottom {
  position: fixed;
  bottom: 0;
}

.nav-main-to-position {
  position: absolute;
}

.nav-main-to-top {
  position: absolute;
  top: 0;
}

.nav-main-to-bottom {
  position: absolute;
  bottom: 0;
}

.article-preview-photo {
  display: block;
  margin-top:10px;
  margin-left: 15px;
  width: 100px;
  height: 100px;
  background: #00ff55;
  float: left;
}
.article-preview-excerpt {
  margin-top:10px;
  padding-left: 130px;
  text-align: justify;
}
