
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
}

#wrapper {
  min-height: calc( 100% - 100px);
  background: grey;
  overflow: hidden;
}

#page-header {
  height: 40vw;
  max-height: 45vh;
  min-height: 190px;
  background: blue;
  background: blue url(/images/header-picture.jpg) center center / cover;
  margin-bottom: 80px;
}

#page-header .headline {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}

#page-header .headline-content {
  display: table-cell;
  vertical-align: middle;
}

#page-header .headline-metas {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  position: relative;
}

#page-header .photo-credits {
  position: absolute;
  margin: 0;
  right: 0;
  background-color: white;
  max-width: 33%;
  z-index: 11;
}

#page-header .photo-links:link,
#page-header .photo-links:visited,
#page-header .photo-links:hover,
#page-header .photo-links:active {
  color: red;
}

#page-header .header-title {
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: calc( ((30px * 2) + 40px)/2 * -1 );
  z-index: 10;
}

#page-header .article-category {
  display: inline-block;
  padding: 30px 20px;
  background-color: red;
  line-height: 40px;
}

#page-content {
  padding: 0 0 0 20px;
}

#page-content {
  overflow: hidden;
  position: relative;
}

#page-content-articles {
  float: left;
  width: calc(100% - 200px);
}

#page-content-nav {
  overflow: hidden;
}

#page-content .nav-pagination {
  text-align: center;
}

footer .article-about {
  clear: both;
}

.paged {
  margin: 0 auto;
  width: 100%;
  max-width: 880px;
}

.nav-flow-stick{
  float:left;
}

.nav-main{
  position: relative;
  overflow: hidden;
  width: 200px;
}

.nav-main-fixed-top{
  position: fixed;
  top: 0;
}

.nav-main-fixed-bottom{
  position: fixed;
  bottom: 0;
}

.nav-main-to-position{
  position: absolute;
}

.nav-main-to-top{
  position: absolute;
  top: 0;
}

.nav-main-to-bottom{
  position: absolute;
  bottom: 0;
}
