---
---
<!DOCTYPE html>
<!--
Voir ça :
https://medium.com/uprooted
http://engineering.clever.com/
http://mrale.ph/blog/2014/07/30/constructor-vs-objectcreate.html
https://www.google.com/contributor/welcome/
http://theultralinx.com/2012/11/15-stylish-examples-portfolio-web-design-inspiration/
http://tutsplus.com/tutorials
http://jobs.humancoders.com/
+ https://www.groovehq.com/blog/discontinuing-live-chat
+ http://slatecustom.com/
-->
<html lang="{% if page.lang %}{{ page.lang }}{% else %}fr{% endif %}">
<!-- head.html -->
<head>
  <!-- Interpreter Parameters -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Head Site -->
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="author" content="Ludovic de Luna">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="revisit-after" CONTENT="120 days">
  <!-- Open Graph data -->
  <meta property="og:site_name" content="Ludovic Blog">
  <meta property="og:type" content="article">
  <meta property="og:image" content="http://example.com/image.jpg">
  <!-- Twitter data -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:image:src" content="http://fqdsfqs.jpg">
  <meta property="twitter:creator" content="@ludovic_deluna">
  <!-- Google data -->
  <meta name="google-site-verification" content="+fdqsfqs=">
  <!-- Style Sheet -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <!-- Icon -->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"><!-- 32x32 -->
  <link rel="icon" href="/favicon.png" type="image/png" sizes="196x196">
</head>
<body dir="ltr">
  <div id="wrapper">
    <header id="page-header">
      <div class="coverline">
        <div class="category"><span class="button btn-category">Web Coding</span></div>
        <div class="headline">A blog from a Web Ruby Dev</div>
      </div>
      <div class="credits">Illustration par
        <a class="source"
           href="http://stoicstudio.com/gallery/">Stoic Studios</a>
      </div>
      <nav>
        <ul class="categories">
          <!--<li><a href="#"class="button-category cat-home">
            <svg version="1.1" width="18px" height="18px" viewBox="0 0 590 590" class="cat-home-icon">
          		<g>
          			<path d="M591.6,367.2c-11.261,0-20.399,9.139-20.399
                20.399V530.4H40.8V387.6c0-11.261-9.139-20.399-20.4-20.399
          			S0,376.339,0,387.6v163.2c0,11.261,9.139,20.4
                20.4,20.4h571.2c11.261,0,20.4-9.14,20.4-20.4V387.6
          			C612,376.339,602.86,367.2,591.6
                367.2z M291.394,442.884c4.039,4.039,9.302,6.039
                14.606,6.039c5.304,0,10.567-2,14.606-5.998
          			l122.277-142.678c8.038-8.038,8.038-21.093
                0-29.131c-8.037-8.038-21.053-8.038-29.131,0L326.4,373.075V61.2
          			c0-11.261-9.14-20.4-20.4-20.4s-20.4,9.14-20.4
                20.4v311.875l-87.394-101.959c-8.038-8.038-21.053-8.038-29.131,
                0,c-8.038,8.038-8.038,21.093,0,29.131L291.394,442.884z"
                fill="white"/>
          		</g>
            </svg>
            Toute catégorie
          </a></li>-->
          <li><a href="#"class="button btn-category cat-code">Web Coding</a></li>
          <li><a href="#"class="button btn-category cat-mongo">Database</a></li>
          <li><a href="#"class="button btn-category cat-os">Système</a></li>
          <li><a href="#"class="button btn-category cat-tools">Outils</a></li>
          <li><a href="#"class="button btn-category cat-human">Humeure</a></li>
        </ul>
      </nav>
    </header>
    <div role="main" id="page-main" class="all-posts">
      <div class="publishing">
        <div class="publishing-header">Publié en</div>
        <div class="updated-at">
          <time datetime="2015-03-22T10:23Z" pubdate>Mars 2015</time>
        </div>
      </div>
      <article class="article-preview">
        <h1><a href="#" class="readmore">Hoc inmaturo interitu ipse quoque</a></h1>
        <a href="#" class="readmore">
          <p>
            Post hoc impie perpetratum quod in aliis quoque iam timebatur,
            tamquam licentia crudelitati indulta per suspicionum nebulas
            aestimati quidam noxii damnabantur. quorum pars necati, alii
            puniti bonorum multatione actique laribus suis extorres nullo
            sibi relicto praeter querelas et lacrimas, stipe conlaticia
            victitabant, et civili iustoque imperio ad voluntatem converso
            cruentam, claudebantur opulentae domus et clarae.
          </p>
        </a>
        <a href="#">Lire la suite</a>
        <ul class="tags">
          <li><a class="button btn-tag tag-code" href="#">Ruby</a></li>
          <li><a class="button btn-tag tag-code" href="#">Coffee Script</a></li>
        </ul>
      </article>
      <article class="article-preview">
        <h1><a href="#" class="readmore">molliverunt, sed adversando iurgandoque</a></h1>
        <a href="#" class="readmore">
          <p>
            Thalassius vero ea tempestate praefectus praetorio praesens ipse
            quoque adrogantis ingenii, considerans incitationem eius ad
            multorum augeri discrimina, non maturitate vel consiliis
            mitigabat, ut aliquotiens celsae potestates iras principum
            molliverunt, sed adversando iurgandoque cum parum congrueret,
            eum ad rabiem potius evibrabat, Augustum actus eius exaggerando
            creberrime docens, idque, incertum qua mente, ne lateret
            adfectans. quibus mox Caesar acrius efferatus, velut contumaciae
            quoddam vexillum altius erigens, sine respectu salutis alienae
            vel suae ad vertenda opposita instar rapidi fluminis
            irrevocabili impetu ferebatur.
          </p>
        </a>
        <a href="#">Lire la suite</a>
        <ul class="tags">
          <li><a class="button btn-tag tag-code" href="#">Ruby on Rails</a></li>
        </ul>
      </article>
      <!-- TODO Reviser la pagination -->
      <nav class="pagination">
        <a class="button btn-more-articles" href="#">Plus d'articles</a><br>
        <!--
        <ul class="nav-article pagination-pages">
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
        </ul>
        <a class="nav-article pagination-prev" href="#">Article précédent</a>
        <a class="nav-article pagination-nex" href="#">Article suivant</a>
        -->
      </nav>
      <a class="page-up" href="#wrapper">Up</a>
    </div>
  </div>
  <footer id="page-footer">
    <div class="page-meta">
      <div class="author">
        <img class="author-picture" src="/images/about-me.png" width="110" height="110" alt="Auteur">
        <p><a href="twitter">@ludovic_deluna</a></p>
      </div>
      <p class="description">
        In the web world, I'm a +10 years back-end developper responsible to
        build robust and highly optimized services that bring strong value to
        data and process used by our product: the leading programmatic
        advertising solution in the US market. The heart of <a
        href="http://www.adomik.com" target="_blank">my company</a> beats for
        Big Data and Machine Learning ; I've chance to board projects involving
        heavy data analysis, comportementale pattern discovery technologies and
        forecast simulations.
      </p>
      <ul class="socials-links">
        <li><a href="#" class="link-fb"><span>Facebook</span></a></li>
        <li><a href="#" class="link-tw"><span>Twitter</span></a></li>
        <li><a href="#" class="link-gl"><span>Google+</span></a></li>
        <li><a href="#" class="link-ln"><span>Linkedin</span></a></li>
        <li><a href="#" class="link-vd"><span>Viadeo</span></a></li>
      </ul>
    </div>
  </footer>
</body>
