{% if page.picture %}{% assign picture = page.picture | prepend: '/images/' | prepend: site.baseurl | prepend: site.url %}{% endif %}
<header id="page-header">
  <div class="coverline"{% if picture %} style="background-image: url({{ picture }})"{% endif %}>
    {% if page.category %}<div class="button btn-category">
      {% for category in site.list_categories %}{% if category[0] == page.category %}{{ category[1] | capitalize }}{% endif %}{% endfor %}
    </div>
    {% elsif page.categories %}<div class="button btn-category">{% assign current_cat = page.categories.first %}
      {% for category in site.list_categories %}{% if category[0] == current_cat %}{{ category[1] | capitalize }}{% endif %}{% endfor %}
    </div>
    {% elsif page.tag %}<div class="button btn-category tags">{{ page.tag }}</div>{% endif %}
    {% if page.headline %}<div class="headline">{{ page.headline }}</div>
    {% else %}<div class="headline">A blog from a Web Ruby Dev</div>{% endif %}
  </div>
  {% if page.credits %}<div class="credits">
    {% if page.credits and page.credits["link"] %}{% assign credits = page.credits["link"] | split: '|' %}{% endif %}
    {{ page.credits["text"] }}
    <a class="source" target="_blank" href="{{ credits[1] }}">{{ credits[0] }}</a>
  </div>{% endif %}
  {% unless page.categories %}
  <nav>
    <ul class="categories">
      {% if page.category or page.tag %}<li>
        <a href="{{ site.url | append: site.baseurl }}" class="button btn-category cat-home">Tous les articles</a>
      </li>{% endif %}
      {% for category in site.list_categories %}
        {% if category[0] != page.category %}<li>
          <a href="{{ category[0] | append: '/index.html' | prepend: '/categories/' | prepend: site.baseurl | prepend: site.url }}"
             class="button btn-category cat-{{ category[0] }}">{{ category[1] }}</a>
        </li>{% endif %}
      {% endfor %}{% comment %}{% for category in site.categories %}.{% endfor %}{% endcomment %}
    </ul>
  </nav>
  {% endunless %}
</header>
