/**
 * Layout
 **/
#wrapper {
  min-height: calc( 100% - 100px);
  background-color: #EEE;
  border-bottom: 1px solid grey;
}

#page-header {
  position: relative;
  margin-bottom: 50px;
}

#page-header .credits {
  position: absolute;
  left: 0;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  font-size: 90%;
  color: #a0a0a0;
}

#page-main {
  padding: 0 10px;
}

.coverline {
  position: relative;
  display: table;
  padding: 1px 0 0;
  height: 45vw;
  max-height: 48vh;
  min-height: 190px;
  width: 100%;
  background: blue url(/images/header-picture.png) center center / cover;
  text-align: center;
}

.coverline .category {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.categories {
  display: block;
  width: 100%;
  max-width: 880px;
  margin: 70px auto 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.categories li {
  display: inline-block;
}

.button-category {
  display: inline-block;
  margin: 0 10px 10px;
  padding: 8px 15px;
  border: solid 1px white;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 4px;
}

.category .button-category {
  font-size: 18px;
  text-shadow: 1px 1px 5px black;
  box-shadow: 2px 2px 10px black;
}

.categories .button-category {
  font-size: 90%;
  line-height: 26px;
  box-shadow:   0 0 4px rgba(0, 0, 0, 0.7);
  text-shadow:  -1px -1px 2px rgba(0, 0, 0, 0.6),
                1px -1px 2px rgba(0, 0, 0, 0.6),
                -1px 1px 2px rgba(0, 0, 0, 0.6),
                1px 1px 2px rgba(0, 0, 0, 0.6);
}

a.button-category:link,
a.button-category:visited {
  color: white;
}

.button-category.cat-code {
  background-color: #BD0808;
}

.button-category.cat-tools {
  background-color: #BDBA22;
}

.button-category.cat-mongo {
  background-color: #339C10;
}

.button-category.cat-os {
  background-color: #2436BF;
}

.button-category.cat-human {
  background-color: #9C6024;
}

.button-category.cat-home-icon {
  vertical-align: sub;
}
.button-category.cat-home {
  background-color: #721B87;
}

.headline {
  display: table-cell;
  padding: 10px 0 40px;
  height: 100%;
  vertical-align: middle;
  color: white;
  font-size: 28px;
  text-shadow:  -1px -1px 2px rgba(0, 0, 0, 0.7),
                1px -1px 2px rgba(0, 0, 0, 0.7),
                -1px 1px 2px rgba(0, 0, 0, 0.7),
                1px 1px 2px rgba(0, 0, 0, 0.7);
}

.headline::before {
  content: "“\00A0";
  color: white;
  font-size: 190%;
  position: absolute;
  margin-top: -8px;
  margin-left: -24px;
}

.headline::after {
  content: "\00A0”";
  color: white;
  font-size: 190%;
  position: absolute;
  margin-top: -4px;
  margin-left: -10px;
}

.credits .source {
  color: inherit;
  text-decoration: underline;
}

.credits a.source:hover,
.credits a.source:focus {
  color: #2A7AE2;
}

.all-posts .publishing {
  display: block;
  width: 150px;
  margin: 0 auto;
  padding: 10px 15px 20px;
  text-align: center;
  font-size: 95%;
}

.all-posts .publishing-header {
  margin: 0 auto 1px;
  border-bottom: 1px solid #A4A4A4;
  color: #9C9C9C;
}

.all-posts .updated-at {
  background-color: #7E7E7E;
  border-radius: 0 0 4px 4px;
  color: white;
}

.article-preview {
  text-align: justify;
  overflow: hidden;
  margin: 10px auto 40px;
  width: 100%;
  max-width: 650px;
}

.article-preview h1 {
  text-align: left;
  font-weight: 400;
  font-size: 200%;
}

.article-preview .tags {
  float: right;
}

.tags {
  list-style: none;
  text-align: right;
  opacity: 0.8;
}

.tags li {
  display: inline-block;
}

.tag {
  background: transparent;
  border: 1px solid;
  padding: 2px 4px;
  font-size: 80%;
}

a.tag-code {
  border-color: #BD0808;
  color: #BD0808;
}

a.readmore {
  color: inherit;
  text-decoration: inherit;
}


/** Continuer ici TODO **/


.nav-article-pagination {
  text-align: center;
  padding: 10px 0 20px;
  overflow: hidden;
}

.nav-article.pagination-button {
  border: solid 1px grey;
  border-radius: 50px 50px;
  padding: 5px 8px;
  color: grey;
  font-size: 85%;
}

.page-up {
  display: block;
  position: relative;
  top: 5px;
  width: 30px;
  height: 23px;
  padding: 0;
  line-height: 28px;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
  border: 1px solid grey;
  border-bottom: none;
  background: white;
  font-size: 80%;
  background: #CCC;
  background: linear-gradient(to bottom, #CCC, #DDD);

}

#page-footer {
  border-top: 1px solid white;
  overflow: hidden;
  padding-top: 30px;
  background-color: #DDD;
}

#page-footer .page-meta {
  margin: 10px auto 40px;
  width: 100%;
  max-width: 650px;
}

#page-footer .author {
  float: right;
  text-align: center;
}

#page-footer .description {
  text-align: justify;
  padding-left: 10px;
  padding-right: 150px;
}

#page-footer .socials-links {
  clear: both;
}

#page-footer .socials-links {
  list-style: none;
  text-align: center;
}

#page-footer .socials-links li {
  display: inline;
  padding: 10px 15px
}

#page-footer .author-picture {

  border-radius: 110px;
  border: 1px black solid;
  border-color:#999;
}
