---
layout: default
---

<div role="main" id="page-main" class="all-posts">
  {% if paginator.page %}
    {% for post in paginator.posts %}
      {% for category in post.categories %}
        {% if page.category == category %}{% include list.html %}{% endif %}
      {% endfor %}
    {% endfor %}
    {% include pagination.html %}
  {% else %}
    {% for post in site.posts %}
      {% for category in post.categories %}
        {% if page.category == category %}{% include list.html %}{% endif %}
      {% endfor %}
    {% endfor %}
  {% endif %}
</div>
{% comment %}
{% assign current_year = 0 %}
{% assign year_block = false %}
{% for post in site.posts %}
  {% for category in post.categories %}
    {% if page.category == category %}
      {% include post_one_year.html %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% if year_block %}</ul>{% endif %}
{% endcomment %}
