body
  #wrapper
    header #page-header
      .headline (background + txt)
      .metas .paged (hors flux)
        .photo-credits
          .photo-author
          .photo-link
        .article-category
    section .paged
      #page-content
        #page-content-article
          role=main
            article
            article
          nav.pagination
        aside #page-content-nav max-width:fix
          nav.content
      footer.about
  footer #page-footer


  {}
  #page-header
    .headline
    .metas (hors flux)
    .photo-credits
    .article-category

  article
    .metas

  .metas-posted_at
  .metas-placeline

  .article-category
  .article-tags
  .article-links

  .featured-content
    .featured-photo
    .photo-credits
    .photo-author
    .photo-link




<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}fr{% endif %}">
{% include head.html %}
<body dir="ltr">
  <div id="wrap">
    {% include header.html %}
    <section>
      {% include article-header.html %}
      <div id="main-content" class="paged">
        <div role="main">
        {{ content }} <!-- include article tag -->
        </div>
        {% include navigation.html %}
      </div>
      <nav>Pagination</nav>
      {% include article-footer.html %}
    </section>
  </div>
  {% include footer.html %}
</body>
</html>
