---
layout: list
---
<div role="main" id="page-main" class="all-posts">
  {% if paginator.page %}
    {% for post in paginator.posts %}
      {% for tag in post.tags %}
        {% if page.tag == tag %}{% include list.html %}{% endif %}
      {% endfor %}
    {% endfor %}
    {% include pagination.html %}
  {% else %}
    {% for post in site.posts %}
      {% for tag in post.tags %}
        {% if page.tag == tag %}{% include list.html %}{% endif %}
      {% endfor %}
    {% endfor %}
  {% endif %}
</div>
{% comment %}
{% assign current_year = 0 %}
{% assign year_block = false %}
{% for post in site.posts %}
  {% for tag in post.tags %}
    {% if tag == page.tag %}
      {% include post_one_year.html %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% if year_block %}</ul>{% endif %}
{% endcomment %}
